/* @import url('https://fonts.googleapis.com/css2?family=Farsan&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');

:root {
	/* --Primary: #66cc99; */
	/* --Primary:#eb7d73; */
	--Primary: #70a534;
	/* --Primary:#b424d1; */
	/* --Primary:#dfb52e; */
	--LightBar: #f1f1f1;
	/*linear-gradient(0deg, rgb(61, 226, 255), rgb(122, 255, 215));*/
	--DarkBar: #333;
	--LightBarColor: #fff;
	--DarkBarColor: #fff;
	--BarMutedColor: #808080;
	--LightBarSeperator: #808080;
	--DarkBarSeperator: #111;
	--LightBackground: #c0c0c0;
	/*linear-gradient(0deg, rgb(73,23,120,1) 0%, rgb(0,212,255,1) 100%);*/
	/* --DarkBackground: #808080; */
	--DarkBackground: #555;
	--LightPostBackground: #ebebeb;
	--DarkPostBackground: #333;
	--LightPostText: #333;
	--DarkPostText: #c0c0c0;
}

* {
	margin: 0;
	padding: 0;
	/* box-sizing:content-box; */
	/* height:100%;
	width:100%; */
	background: none;
	outline: none;
	border: none;
	font-family: 'Nova Mono', monospace;
	/* font-family:'Helvetica'; */
	font-size: 16px;
}

canvas {
	display: block;
}

body {
	min-width: 300px;
	display: grid;
	grid-template-rows: 36px auto 36px;
	height: 100vh;
	background: var(--LightBackground);
}

body.dark {
	background: var(--DarkBackground);
}

main {
	overflow-y: scroll;
	overflow-x: hidden;
	/* display:flex; */
	/* justify-content: center; */
	/* padding-bottom:90px; */
	/* padding-bottom:8px; */
}

section {
	/* padding-bottom:8px;; */
	width: 100%;
}

/*#region header */
header {
	position: sticky;
	top: 0;
	background: whitesmoke;
	outline: 1px solid var(--LightBarSeperator);
	color: black;
	text-align: center;
	display: grid;
	grid-template-columns: 48px auto 48px;
	align-items: center;
	z-index: 1;

}

.dark header {
	background: var(--DarkBar);
	outline: 1px solid var(--DarkBarSeperator);
	color: white;
}

header div {

	/* background:turquoise;
	background-clip: text;
	color:transparent; */
	grid-column-start: 2;
	height: auto;
}

header button {
	color: #808080;
	font-size: 20px;
}
header button i {
	font-size:20px;
}

/*#endregion */
/*#region footer */
footer {
	position: sticky;
	bottom: 0;
	background: var(--LightBar);
	z-index: 1;
	outline: 1px solid var(--LightBarSeperator);
}

.dark footer {
	outline: 1px solid var(--DarkBarSeperator);
	background: var(--DarkBar);
}

footer div {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(4, 25%);
	width: 100%;
	height: 100%;
}

footer div button.active {
	color: var(--Primary);
}

footer div button {
	color: var(--BarMutedColor);
	width: 100%;
	height: 100%;
	padding-bottom: 8px;
}

footer div button i {
	font-size: 20px;
	display: block;
	height: 24px
}

#PageIntro {
	text-align: center;
	font-weight: normal;
	width: 150px;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	bottom: 46px;
	font-size: 20px;
	color: var(--LightPostText);
	background: var(--LightPostBackground);
	outline: 1px solid var(--LightBarSeperator);
	border-radius: 10px;
	opacity: 100%;
	transition: opacity 0.3s;
}

.dark #PageIntro {
	color: var(--DarkPostText);
	background: var(--DarkPostBackground);
	outline: 1px solid var(--DarkBarSeperator);
}

#PageIntro.exit {
	transition: opacity 2s;
	opacity: 0%;
}

/* #endregion */
/* #region spinning footer */
/* footer {
	display:block;
	position:fixed;
	left:50%;
	transform:translateX(-50%);
	bottom:-130px;
	height:180px;
	width:180px;
	background:var(--LightBar);
	border:1px solid var(--LightBarSeperator);
	border-radius: 50%;
}
.dark footer {
	background:var(--DarkBar);
	border:1px solid var(--DarkBarSeperator);
}
footer li {
	position:absolute;
	top:90px;
	left:90px;
	width:0px;
	height:0px;
	transform:translate(-50%,0);
}
footer li * {
	color:var(--BarMutedColor);
	transform:translate(-50%,-85px);
	font-size:24px;
}
footer li:nth-of-type(1) {
	rotate: 60deg;
}

footer li:nth-of-type(2) {
	rotate: 120deg;
}

footer li:nth-of-type(3) {
	rotate: 180deg;
}

footer li:nth-of-type(4) {
	rotate: 240deg;
}

footer li:nth-of-type(5) {
	rotate: 300deg;
} */

/*#endregion */
@keyframes loading {
	from {
		transform: rotate(0deg);
	}

	to {
		/* transform: rotate(45deg); */

		transform: rotate(360deg);
	}
}

#ExplorePageLoading,
#SinglePostCommentsLoading,
#SingleGroupPostsLoading {
	width: 100%;
	padding-top: 32px;
	padding-bottom: 32px;
	color:var(--BarMutedColor);
}
#SinglePostCommentsLoading,
#SingleGroupPostsLoading {
	padding-top:0;
}
#ExplorePageLoading>div,
#SinglePostCommentsLoading>div,
#SingleGroupPostsLoading>div {
	border:1px solid var(--BarMutedColor);
	border-radius:50%;
	width:42px;
	height:42px;
	position:relative;
	margin:auto;

}
#ExplorePageLoading i,
#SinglePostCommentsLoading i,
#SingleGroupPostsLoading i {
	display: block;
	margin: auto;
	animation:1s loading infinite linear;
	/* width:24px;
	height:24px; */
	position:absolute;
	top:-1.5px;
	left:5px;
	font-size:32px;
	/* transform:translate(-2px,-2px); */
	
}

#ExplorePageLoading h2,
#SinglePostCommentsLoading h2,
#SingleGroupPostsLoading h2 {
	font-weight: normal;
	text-align: center;
}

/*#region context-level post (has the basic info about the post, but not the comments, groups or time posted) */
.ContextPost {
	margin: auto;
	margin-bottom: 8px;
	background: var(--LightPostBackground);
	box-sizing: border-box;
	outline: 1px solid black;
	position: relative;
	top: 0;
	left: 0;
	max-width: 512px;
	min-width: 230px;
	width: 100%;
}

.ContextPost:last-of-type {
	margin-bottom: 0;
}

.dark .ContextPost {
	background: var(--DarkPostBackground);
	color: var(--DarkPostText);
}

.ContextPost * {
	/* outline:solid black 1px;  */
	margin: 0;
	padding: 0;
}

.ContextPost>figure>canvas {
	width: 48px;
	height: 48px;
	background: white;
	outline: 1px solid black;
}

.ContextPost>figure {
	display: grid;
	align-items:center;
	column-gap: 8px;
	grid-template-columns: 48px auto 80px;
	padding: 8px;
}
.ContextPost>figure>div {
	height:min-content;
}
.ContextPost>figure>div>div>i {
	padding-right:8px;
}

.ContextPost>figure>figcaption {
	height: min-content;
	align-self: center;
	font-weight: bold;
	margin: 0;
}

.ContextPost>div {
	overflow: hidden;
	position: relative;
	top: 0;
	left: 0;
	outline:1px solid black;
}
.ContextPost>div>canvas {
	width: 100%;
	/* width:256px;
	height:192px; */
	background: white;	
	/* padding:0;	 */
	/* margin:8px;; */

}


.ContextPost>div>div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	text-align: center;

}

.ContextPost>div>button {
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	background: var(--LightPostBackground);
	color:var(--LightPostText);
	padding: 4px;
	border-radius: 10px;
	/* margin-top: 20px; */
	outline: 1px solid var(--LightBarSeperator);
	z-index: 1;
}
.dark .ContextPost>div>button {
	background:var(--DarkPostBackground);
	color:var(--DarkPostText);
	outline:1px solid var(--DarkBarSeperator);
}

.ContextPost canvas.Blur {
	filter: blur(14px);
	overflow: hidden;
}

/* #endregion */
/* #region reply post */
.ReplyPost {
	margin: 16px auto;
	background: var(--LightPostBackground);
	box-sizing: border-box;
	outline: 1px solid black;
	position: relative;
	top: 0;
	left: 0;
	max-width: 384px;
	min-width: 144px;
	width: 75%;
}
.ReplyPost:first-of-type{
	margin-top:0;
}

.dark .ReplyPost {
	background: var(--DarkPostBackground);
	color: var(--DarkPostText);
}

.ReplyPost * {
	/* outline:solid black 1px;  */
	margin: 0;
	padding: 0;
}

.ReplyPost>figure>canvas {
	width: 32px;
	height: 32px;
	background: white;
	outline: 1px solid black;
}

.ReplyPost>figure {
	display: grid;
	align-items:center;
	column-gap: 8px;
	grid-template-columns: 32px auto 70px;
	padding: 8px;
}
.ReplyPost>figure>div {
	height:min-content;
}
.ReplyPost>figure>div>div>i {
	padding-right:8px;
}

.ReplyPost>figure>figcaption {
	height: min-content;
	align-self: center;
	font-weight: bold;
	margin: 0;
}

.ReplyPost>div {
	overflow: hidden;
	position: relative;
	top: 0;
	left: 0;
	outline: 1px solid black;
}
.ReplyPost>div>canvas {
	width: 100%;
	/* width:256px;
	height:192px; */
	background: white;
	/* padding:0;	 */
	/* margin:8px;; */
	
}


.ReplyPost>div>div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	text-align: center;
	
}

.ReplyPost>div>button {
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	background: var(--LightPostBackground);
	color:var(--LightPostText);
	padding: 4px;
	border-radius: 10px;
	/* margin-top: 20px; */
	outline: 1px solid var(--LightBarSeperator);
	z-index: 1;
}
.dark .ReplyPost>div>button {
	background:var(--DarkPostBackground);
	color:var(--DarkPostText);
	outline:1px solid var(--DarkBarSeperator);
}

.ReplyPost canvas.Blur {
	filter: blur(14px);
	overflow: hidden;
}
/* #endregion */
/* #region single post */
#SinglePostPage {
	/* background: var(--LightPostBackground); */
	height:100%;
	width: 100%;
}

.dark #SinglePostPage {
	/* background: var(--DarkPostBackground); */
	color: var(--DarkPostText);
}
#SinglePostPage>div:nth-of-type(2) {
	display:grid;
	grid-template-columns: auto;
	justify-content:center;
	align-items:center;
	padding-bottom:16px;
}
#SinglePostPage>div:nth-of-type(2)>h2 {
	font-weight:normal;
	text-align: center;
	padding:16px;
	/* padding-bottom:0; */
}
#SinglePostPage>div:nth-of-type(2)>button {
	display:block;
	font-weight:normal;
	text-align: center;
	background:var(--Primary);
	height:32px;
	padding-left:16px;
	padding-right:16px;
	border-radius: 10px;
	outline:1px solid var(--LightBarSeperator);

	/* padding-bottom:0; */
}
.dark #SinglePostPage>div:nth-of-type(2)>button {
	outline:1px solid var(--DarkBarSeperator);
}


#SinglePostPage>div:first-of-type {
	background:var(--LightPostBackground);
	outline:1px solid black;
}
.dark #SinglePostPage>div:first-of-type {
	background:var(--DarkPostBackground);
}


#SinglePostPage>div:first-of-type>figure>canvas {
	width: 64px;
	height: 64px;
	background: white;
	outline: 1px solid black;
}

#SinglePostPage>div:first-of-type>figure {
	display: grid;
	column-gap: 8px;
	grid-template-columns: 64px auto 72px;
	align-items:center;
	padding-left: 8px;
	padding-top: 8px;
}
#SinglePostPage>div:first-of-type>figure>span {
	padding-top:8px;
	grid-column:1/3;
}

#SinglePostPage>div:first-of-type>figure>figcaption {
	height: min-content;
	align-self: center;
	font-weight: bold;
	margin: 0;
}
#SinglePostPage>div:first-of-type>figure>div {
	height:min-content;
}
#SinglePostPage>div:first-of-type>figure>div>i{
	padding-right:8px;
}
#SinglePostPage>div:first-of-type>h2 {
	padding:8px;
	font-weight:normal;
	text-align: left;
}
#SinglePostPage>div:first-of-type>canvas {
	width: 100%;
	/* width:256px;
	height:192px; */
	background: white;
	outline: 1px solid black;
	/* padding:0;	 */
	/* margin:8px;; */

}
#SinglePostPage>div:first-of-type>div:first-of-type {
	display:grid;
	padding:8px;
	padding-top:16px;
	grid-template-columns: auto 100px;
}
#SinglePostPage>div:first-of-type>div:first-of-type>h2:last-of-type{
	text-align: right;
}
#SinglePostPage>div:first-of-type>div:last-of-type {
	height:48px;
	display: flex;
	flex-direction: row;
	/* flex-basis: 48px; */
	padding:8px;
	/* padding-top:0px; */
	overflow:visible;
	overflow-x: scroll;
}
#SinglePostPage>div:first-of-type>div>figure>canvas{
	width:48px;
	height:48px;
	outline:1px solid black;
	background:white;
}
#SinglePostPage>div:first-of-type>div>figure {
	width:100%;
	display:grid;
	align-items: center;
	grid-template-columns: 48px auto;
	/* width:min-content; */
	/* outline:1px solid black; */
	/* padding:8px; */
	/* width:48px;
	height:48px; */
}
#SinglePostPage>div:first-of-type>div>figure:first-of-type {
	margin-left:0;
}

#SinglePostPage>div:first-of-type>div>figure:last-of-type {
	margin-right:0;
}
#SinglePostPage>div:first-of-type>div>figure>figcaption {
	/* height:48px; */
	padding-left:8px;
	padding-right:8px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* 
#SinglePostPage>div:last-of-type {
	display: grid;
	grid-template-columns: 48px auto 48px;
	padding: 8px;
}

#SinglePostPage>div:last-of-type>div>i {
	padding-right: 8px;
} */

/* #endregion */
/* #region End of feed */
article.FeedEnd {
	height: 35px;
	padding-top: 10px;
	text-align: center;
	color: var(--LightPostText);
}

article.FeedEnd h1 {
	font-weight: normal;
}

.dark article.FeedEnd {
	color: var(--DarkPostText);
}

/* #endregion */

/* #region */
#SingleGroupPage {
	color:var(--LightPostText);
}
.dark #SingleGroupPage {
	color:var(--DarkPostText);
}
#SingleGroupPage>div:first-of-type {
	background:var(--LightPostBackground);
	/* padding:8px; */
	padding-top:8px;
	outline:1px solid black;
}
.dark #SingleGroupPage>div:first-of-type {
	background:var(--DarkPostBackground);
}
#SingleGroupPage>div:first-of-type>canvas {
	background:white;
	border:1px solid black;
	width:96px;
	height:96px;
	margin:auto;
	
}
#SingleGroupPage>div:first-of-type>h1 {
	text-align: center;
	font-size:22px;
	font-weight:normal;
	padding:8px;
	padding-bottom:0;
}
#SingleGroupPage>div>div:not(#SingleGroupPage>div>div:last-of-type) {
	padding:8px;
	/* padding-top:16px; */
}
#SingleGroupPage>div h2 {
	font-weight:normal;
}

#SingleGroupPage>div:first-of-type>figure>canvas {
	width: 64px;
	height: 64px;
	background: white;
	outline: 1px solid black;
}

#SingleGroupPage>div:first-of-type>figure {
	display: grid;
	column-gap: 8px;
	grid-template-columns: 64px auto 72px;
	align-items:center;
	/* padding:8px; */
	padding-top:8px;
	padding-left:8px;
}

#SingleGroupPage>div:first-of-type>figure>figcaption {
	height: min-content;
	align-self: center;
	font-weight: bold;
	margin: 0;
}
#SingleGroupPage>div:first-of-type>div:last-of-type {
	height:48px;
	display:flex;
	flex-direction: row;
	padding:8px;
	overflow: hidden;
	overflow-x:scroll;
	gap: 8px;
}
#SingleGroupPage>div:first-of-type>div:last-of-type>figure{
	display:grid;
	grid-template-columns: 48px 144px;
	outline:1px solid black;
}
#SingleGroupPage>div:first-of-type>div:last-of-type>figure>figcaption {
	padding-left:8px;
	height:min-content;
	align-self:center;
}
#SingleGroupPage>div:first-of-type>div:last-of-type>figure>canvas{
	outline:1px solid black;
	background:white;
	width:48px;
	height:48px;
}

#SingleGroupPage>div:nth-of-type(2)>h2 {
	font-weight: normal;
	text-align: center;
	padding: 16px;
}
/* #endregion */